*.o
*~
.*.un~
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
calc_bison.c
calc_bison.h
calc_flex.c
calculator
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
ylwrap
